<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Log message format -->
        <encoder>
            <pattern>SPRING-ANGULAR-REGISTRATION | %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.wissensalt.test.sar" level="INFO" />

    <!-- Setting the logging level to INFO for Spring Framework-->
    <logger name="logging.level.org.springframework" level="DEBUG" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>SPRING-ANGULAR-REGISTRATION | %d{dd-MM-yyyy} %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <!--<fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}</fileNamePattern>-->
            <fileNamePattern>${LOG_FILE}.%i</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>50</maxIndex>
            <!--<maxHistory>30</maxHistory>-->
        </rollingPolicy>
            <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>100MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
