<!-- <app-registration-form></app-registration-form> -->
<!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav"> -->
        <!-- <li class="active"><a href="#">Dashboard</a></li> -->
        <!-- <li><a href="#" routerLink="/login">Login</a></li>
        <li><a href="#"  routerLink="/register">Registration</a></li>
      </ul>
    </div>
  </nav> -->
<router-outlet></router-outlet>
<footer class="footer" style="background-color: purple; width:100%; height: 40px;color: white; text-align: center; padding-top: 10px">Footer</footer>
